<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:object="${rentalSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form-control"
                           placeholder="회원명"/>
                </div>
                <div class="form-group mb-2">
                    <select th:field="*{rentalStatus}" class="form-control">
                        <option value="">대여상태</option>
                        <option th:each=
                                        "status : ${T(Goldra9.library.domain.RentalStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select th:field="*{categoryName}" class="form-control">
                        <option value="">카테고리</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.name}"
                                th:text="${category.name}"> option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>이름</th>
                <th>주문가격</th>
                <th>주문수량</th>
                <th>상태</th>
                <th>카테고리</th>
                <th>일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${rentals}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.member.name}"></td>
                <td th:text="${item.rentalItemList[0].item.name}"></td>
                <td th:text="${item.rentalItemList[0].rentalPrice}"></td>
                <td th:text="${item.rentalItemList[0].count}"></td>
                <td th:text="${item.rentalStatus}"></td>
                <td th:text="${item.rentalItemList[0].item.category.name}"></td>
                <td th:text="${#temporals.format(item.rentalDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a th:if="${item.rentalStatus.name() == 'RENTAL'}" href="#"
                       th:href="'javascript:cancel('+${item.id}+')'"
                       class="btn btn-danger">CANCEL</a>
                </td>
            </tr>
            <tr th:text="${totalPrice}">얼마</tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
function cancel(id) {
var form = document.createElement("form");
form.setAttribute("method", "post");
form.setAttribute("action", "/rentals/" + id + "/cancel");
document.body.appendChild(form);
form.submit();
}
</script>
</html>